.container {
  /* border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  background-color: #ddd;
  padding: 4px;
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  margin: auto;
  /* width: 110px; */
}

/* .digit_container {

} */

.digit {
  width: 24px;
}
