.Square {
  width: 22px;
  height: 22px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

br {
  height: 0px;
}

.Image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 22px;
  height: 22px;
  /* display: inline-block; */
  /* box-sizing: border-box; */
  object-fit: fill;
}

.mine {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 22px;
  height: 22px;

  object-fit: fill;
  z-index: 1;
}
