.container {
  /* background-color: red; */
  height: 25px;
  margin-bottom: 10px;
  /* position: relative; */
  /* border: 1px solid red; */
  box-sizing: border-box;
  /* padding: 5px; */
}

.buttonContainer {
  border: 1px solid rgba(0, 0, 0, 0);
  position: relative;
  float: left;
  padding-left: 2px;
  padding-right: 2px;
  transition: all 0.1s ease-out;
  box-sizing: border-box;
}

.buttonContainer:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ccc;
}

.difficulty {
  font-size: 0.85em;
  /* border: 1px solid black; */
}

.difficulty:hover {
  cursor: default;
}

.dropDown {
  background-color: #ccc;
  /* background-color: rgba(0, 255, 0, 0.8); */
  /* border: 1px solid black; */
  position: absolute;
  left: -1px;
  top: 19px;
  /* height: 70px; */
  z-index: 1;
  display: flex;
  /* display: none; */
  /* visibility: hidden; */
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid orange; */
  box-sizing: border-box;
  /* padding-right: 25px; */
  /* visibility: hidden; */
  /* display: none; */
  width: 110px;
  height: 0px;
  /* width: 0px; */
  transition: all 0.15s ease-out;
  height: 0px;
  width: 0px;
  overflow: hidden;
  padding-top: 1px;
  padding-bottom: 1px;
}

.dropDownVisible {
  /* display: flex; */
  /* visibility: default; */
  height: 56px;
  border: 1px solid black;
  width: 110px;
}

.menuItem {
  padding-left: 2px;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: left;
  font-size: 0.85em;
  transition: all 0.125s ease-out;
  box-sizing: border-box;
}

.menuItem:hover {
  cursor: default;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  /* font-size: 0.87em; */
}
